.problem-card {
  width:100%;
  display: inline-flex;
  border: 2px solid #0044cc;
}
.problem {
  display: flex;
}
.description {
  font-family: "JetBrains Mono";
  padding-left: 70px;
  padding-right: 30px;
}

.difficulty {
  font-family: "JetBrains Mono";
  padding-left: 70px;
  padding-right: 30px;
}

.points {
  font-family: "JetBrains Mono";
  padding-left: 70px;
  padding-right: 30px;
}

.status {
  font-family: "JetBrains Mono";
  padding-left: 70px;
}

.delete {
  padding-left: 200px;
}
