<mat-toolbar color="primary" *ngIf="isUser">
  <span class="avatar">
    <app-avatar [user]="currentUser"></app-avatar>
  </span>
  <button style="font-size: large" mat-button routerLink="/">Home</button>
  <button *ngIf="isAdmin" style="font-size: large" mat-button routerLink="/admin"> Admin</button>
  <button class="rankings" style="font-size: large" mat-button routerLink="/favourites"> Favourites </button>
  <button class="favourites" style="font-size: large" mat-button routerLink="/rankings"> Rankings </button>
  <span class="spacer"> </span>
  <button class="logout" style="font-size: large" mat-button (click)="logout()">Logout </button>
</mat-toolbar>


<router-outlet></router-outlet>
