.title {
  padding-left: 40px;
}

.headers {
  width: 100%;
  display: inline-flex;
}
.h {
  display: flex;
}

.desc-header {
  padding-left: 70px;
  padding-right: 30px;
}

.diff-header {
  padding-left: 65px;
  padding-right: 30px;
}

.point-header {
  padding-left: 80px;
  padding-right: 30px;
}

.status-header {
  padding-left: 150px;
}
