<h4 class="title"> Your Points</h4>
<div class="rewards">
  <img [matTooltip]="'You have ' + pts + ' coins'" class="coins" [src]="'assets/golden-dollar-coin-clipart-md.png'" style="width:50px; height:50px">
  <div class="text" style="font-size: large">
    {{pts}}
  </div>

</div>
<h3 class="title"> Practice Problems </h3>
<mat-card class="headers">
  <div class="h">
    <div class="desc-header">
      <b> Description </b>
    </div>
    <div class="diff-header">
      <b> Difficulty </b>
    </div>
    <div class="point-header">
      <b> Points </b>
    </div>
    <div class="status-header">
      <b> Status </b>
    </div>
  </div>
</mat-card>
<div class="pa-record-container">

  <app-problem-card class="card-item" [problem]="problem" *ngFor="let problem of problems" ></app-problem-card>

</div>


